<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="shortcut icon" href="../static/image/index.jpg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

    <!--导航-->
    <nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted stackable menu">
                <h2 class="ui teal header secondary item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="right item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间内容-->
    <div class="m-container m-padded-tb-big">

        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="../static/image/800x600.jpg" th:src="@{/image/800x600.jpg}" alt="" class="ui rounded image">

                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">时间感觉越过越快，优势好像越来越少，风险意识越来越强，生活责任越来越重。希望能永远年轻，永远热血澎湃。</p>
                        <p class="m-text">善存于心，世界和平</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic label">编程</div>
                        <div class="ui orange basic label">思考</div>
                        <div class="ui orange basic label">运动</div>
                        <div class="ui orange basic label">热爱</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic label m-margin-tb-tiny">Java</div>
                        <div class="ui teal basic label m-margin-tb-tiny">JavaScript</div>
                        <div class="ui teal basic label m-margin-tb-tiny">Node</div>
                        <div class="ui teal basic label m-margin-tb-tiny">React</div>
                        <div class="ui teal basic label m-margin-tb-tiny">MySQL</div>
                        <div class="ui teal basic label m-margin-tb-tiny">Vue</div>
                        <div class="ui teal basic label m-margin-tb-tiny">...</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="1424661628" data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui wechat-qr flowing popup top left transition hidden">
                        <img src="../static/image/weixin.png" th:src="@{/image/weixin.png}" alt="" class="ui rounded image" style="width: 120px;">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br><br><br>

    <!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/image/index.jpg" class="ui rounded image" alt="" style="width: 120px;">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item" th:text="${index.email}">Email：1424661628@qq.com</a>
                        <a href="#" class="item">微信：lvmenghao170</a>
                        <a href="#" class="item">Tel：1700000000</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-spaced">用户故事</h4>
                    <p>用户故事是敏捷框架中的一种开发方法。可以帮助开发者转换视角，以用户的角度更好的把握需求，从而实现具有商业价值的功能。</p>
                    <p>As a (role of user), I want (some feature) so that (some business value).</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-spaced m-opacity-tiny">© 2019 <a href="#">LMH</a>, All rights reserved.</p>
        </div>
    </footer>


    <!--/*/<th:block th:replace="_fragments :: script">/*/-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->


    <script>

    $('.menu.toggle').click(function () {
        $(".m-item").toggleClass('m-mobile-hide');
    });

    $('.qq').popup();

    $('.wechat').popup({
        popup : $('.wechat-qr.popup'), // 元素
        on : 'hover', // 如何触发
        position : 'bottom center'
    });


</script>
</body>
</html>